In [1]:
import os
os.getcwd()

'/Users/talespadilha/Documents/Oxford/Teaching/Financial Econometrics/20-21/python/python_course'

In [2]:
os.chdir('/Users/talespadilha/Documents/Oxford/Teaching/Financial Econometrics/20-21/python/python-introduction/course/autumn')
os.getcwd()

'/Users/talespadilha/Documents/Oxford/Teaching/Financial Econometrics/20-21/python/python-introduction/course/autumn'

In [3]:
import pandas_datareader as pdr
import pandas as pd

In [4]:
# Conservative start date to get all data
gs10 = pdr.get_data_fred("GS10", start="1950")
gs1 = pdr.get_data_fred("GS1", start="1950")

term = gs10["GS10"] - gs1["GS1"]
term.name = 'TERM'
combined = pd.DataFrame([term, gs10["GS10"], gs1["GS1"]]).T
combined.tail()

            TERM  GS10   GS1
DATE
2020-07-01  0.47  0.62  0.15
2020-08-01  0.52  0.65  0.13
2020-09-01  0.55  0.68  0.13
2020-10-01  0.66  0.79  0.13
2020-11-01  0.75  0.87  0.12

In [5]:
# Trick to ensure the index has the frequency MS, Month Start
combined = combined.resample("MS").last()
combined.to_hdf("data/term-premium.h5", "term_premium")
combined.index

DatetimeIndex(['1953-04-01', '1953-05-01', '1953-06-01', '1953-07-01',
               '1953-08-01', '1953-09-01', '1953-10-01', '1953-11-01',
               '1953-12-01', '1954-01-01',
               ...
               '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
               '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01',
               '2020-10-01', '2020-11-01'],
              dtype='datetime64[ns]', name='DATE', length=812, freq='MS')